<%-include('./admin_header')%>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard | All Users</h1>
                       
                    </div>
                    <hr>
                   
<!-- <a href="/admin_add_about" class="btn btn-info">Add</a> -->

<table class="table table-bordered mt-2">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Contact No.</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <% let count = 0;
if(viewdata.length > 0) {%>
    <tbody>
        <% for(let user of viewdata) { if(user.status!=0){%>
            <tr>
                <td><%= ++count %></td>
                <td><%=user.name%></td>
                <td><%=user.email%></td>
                <td><%=user.phone%></td>
                <!-- <td><img src="<%=user.post_image%>" alt="image" width="50px" height="50px"></td> -->
               
                <!-- <td><a href="/edit/<%= user._id %>" class="btn btn-success">Edit</a></td> -->
                <td><a href="#" class="btn btn-success " >Edit</a></td>
                <td><a href="/admin/deleteuser/<%= user._id %>" class="btn btn-danger " >Delete</a></td>
            </tr>
    </tbody>
    <%} } }else {%>
        <h1>No data found</h1>
        <%}%>
  </table>







                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>

</body>

</html>